[phases.setup]
nixPkgs = ["bun", "python3", "gcc", "gnumake", "pkg-config", "stdenv.cc.cc.lib"]

[phases.install]
cmds = ["bun install"]

[phases.build]
cmds = []

[start]
cmd = "bun run src/index.ts & bun run src/worker.ts"
